h2 {
  cursor: pointer;
}

/* --- */

body #boot-loader {
  display: none;
}

body.loading #boot-loader {
  display: block;
}

body.loading #loaded {
  display: none;
}

/* --- */

.todo-creator.collapsed .new-todo-form {
  display: none;
}

.todo-creator.collapsed .new-todo-button {
  display: inline;
}

.todo-creator:not(.collapsed) .new-todo-form {
  display: block;
}

.todo-creator:not(.collapsed) .new-todo-button {
  display: inline;
}


/* --- */

.tooltip.active {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid black;
  background-color: grey;
  padding: 10px;
}
